
body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.4);
    transition: 0.3s;
}

.logo img {
    height: 70px;
    display: block;
    margin-left: 10px;
}

.nav-linkek {
    display: flex;
    gap: 80px;
    margin-right: 50px;
}

.nav-linkek a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-linkek a:hover {
    color: red; 
}

.cim{
    position: relative;
    display: inline-block;
    margin-top: 90px;
}

.cim h1{
    margin: 0;
}

.cim img {
    width: auto;
    height: auto;
    display: block;
    margin: 0;
}   

.cim .szoveg {
    position:absolute;
    
    top: 3%;
    right: 50%;
  color: white;
  font-size: 120px;
  font-weight: bold;
  text-shadow: 2px 2px 8px  black;
  padding: 10px 70px 60px 70px;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 30px;
}

.cim .szlogen{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 2px 8px rgb(255, 2, 2);
}


hr{
    margin: 0;
    padding:0;
    height: 5px;
    background-color: black;
    border: solid 1px black;
}

#kiegcim{

    align-items: center;
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: 6px;
    text-shadow: 2px 2px 6px red;
}

#kiegcim h1{
    margin: 20px auto;
    text-align: center;
    padding: 15px 200px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0);
    border-bottom: 3px solid red;
    color: white;
}

.kiegalcim{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px rgb(27, 25, 25);
}

.tarcsak{
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    max-width: 1750px;
    margin: 20px auto;
    color: white;
}

.tarcsak img{
    display: block;
    border-radius: 10px;
    width: auto;
    height: 300px;
    margin-right: 200px;
    
}


.tarcsak ul{
    position: absolute;
    font-size: 21px;
    color: white;
    bottom: -110%;
    transform: translateX(120%);
    line-height: 50px;
}


h3{
    position: absolute;
    font-size: 35px;
    color: white;
    bottom: -90%;  
}

.tarcsa{
    position: relative;
    flex: 1;
    text-align: center;
}

.tarcsa1 h3{
    right: 75%;
}

.tarcsa2 h3{
    right: 42%;
}

.tarcsa3 h3{
    right: 9%;
}



#mode {
    align-items: center;
    margin-top: 40px;
    font-size: 70px;
    letter-spacing: 6px;
    text-shadow: 2px 2px 6px red;
}

#modellek h1{
     margin: 20px auto;
    text-align: center;
    padding: 15px 200px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0);
    border-bottom: 3px solid red;
    color: white;
}

  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background: #111;
    color: white;
    border-radius: 15px;
    padding: 50px 150px 50px 150px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    display: block;
    margin: 0 auto 5px;
    width:100%;
    height: auto;
    border-radius: 10px;
    
  }
  
  .card h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .card p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 5px 0;
  }
  

footer {
    background: #111;
    color: #ccc;
    padding: 20px;
    margin-top: 40px;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  


