body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
}

.logo img {
    height: 80px;
    display: block;
}

.nav-linkek {
    display: flex;
    gap: 40px;
    margin-right: 20px;
}

.nav-linkek a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-linkek a:hover {
    color: red; 
}

.cim{
    position: relative;
    display: inline-block;
}

.cim img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.cim .szoveg {
    position:absolute;
    
    top: 3%;
    right: 50%;
  color: white;
  font-size: 120px;
  font-weight: bold;
  text-shadow: 2px 2px 8px  black;
  padding: 10px 70px 60px 70px;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 30px;
}

.cim .szlogen{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 2px 8px rgb(255, 2, 2);
}

h1{
    margin:0;
}

hr{
    margin: 0;
    padding:0;
    height: 5px;
    background-color: black;
    border: solid 1px black;
}

.kiegcim{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: 2px 2px 6px red;
}

.kiegalcim{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.tarcsak{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.tarcsak img{
    padding: 0;
    border-radius: 30px;
    margin: 0;
}




