body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    margin: 20px 0;
    color: #000000;
    text-shadow: 2px 2px 6px #b30000;
  }
  
  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap; /* mobilbarát */
  }
  
  .card {
    background: #111;
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 5px 0;
  }
  
/* Footer */
footer {
    background: #111;
    color: #ccc;
    padding: 20px;
    margin-top: 40px;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  footer a {
    color: white;             /* alapból fehér */
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s;   /* szép színátmenet */
  }
  
  footer a:hover {
    color: #b30000;           /* hoverkor vörös */
  }
  